header
  // верхнее меню
  nav.navbar.navbar-light(style='background-color: white')
    .container-fluid
      a.navbar-brand(href='index.html')
        img.d-inline-block.align-text-top(src='./img/48.png' alt='' width='32' height='32')
        | SysAdminTest
      form.d-flex
          
